services:
<<<<<<< Updated upstream
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: store-system-backend
=======
  backend:
    build: .
    container_name: backend
>>>>>>> Stashed changes
    image: store-system-backend:1.0.0
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 1G
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:/app/data/prod.db
    restart: unless-stopped
    command: sh -c "pnpm exec prisma migrate deploy && pnpm run start"
